/* Basic styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

#cat-container {
  width: 500px;
  height: 500px;
  position: relative;
}

#cat-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}


.controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.control-group {
  flex: 1 0 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.control-group:last-child {
  margin-right: 0;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.button-group {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

#randomize-btn {
  flex: 1;
  padding: 10px;
  background-color: #0099cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#randomize-btn:hover {
  background-color: #0077b3;
}

#download-link {
  display: none;
}
